.root {
	-fx-background-color: rgb(50, 50, 50);
	-fx-text-fill: rgb(154, 185, 184);
}

/*
* Default Text Profiles
*/
.h2 {
	-fx-font-size: 15px;
	-fx-fill: rgb(154, 185, 184);
	-fx-font-weight: bold;
}
.h2-dark {
	-fx-font-size: 15px;
	-fx-fill: rgb(140, 140, 140);
	-fx-font-weight: bold;
}

.h2-dark-italic {
	-fx-font-size: 15px;
	-fx-fill: rgb(140, 140, 140);
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

/*
* List
*/
.list-cell {
	-fx-background-color: rgb(50, 50, 50);
}

.list-cell:odd {
	-fx-background-color: rgb(100, 100 ,100);
}

/*
* Scroll Bar
*/
.scroll-bar {
	-fx-background-color: rgb(50, 50, 50);
}

.scroll-bar .thumb {
	-fx-background-color: rgb(154, 185, 184);
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0 0 0 0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
	-fx-background-radius: 0;
	-fx-padding: 0 0 0 10px;
}

/*
* Combo Box
*/
.combo-box-base {
	-fx-background-color: rgb(154, 185, 184);
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-border-width: 1;
	-fx-border-color: rgb(154, 185, 184);
	-fx-border-radius: 10px;
	-fx-font-size: 13px;
}

.combo-box .list-cell {
	-fx-background-color: rgb(40, 40, 40);
	-fx-text-fill: rgb(154, 185, 184);
}

.combo-box .list-view .cell:selected {
	-fx-border-width: 0;
}

/*
* Button
*/
.button {
	-fx-background-color: rgb(154,185,184);
	-fx-background-radius: 10px;
	-fx-padding: 10px 20px;
	-fx-font-size: 18px;
}

/*
* Back Arrow
*/
.back-arrow {
	-fx-padding: 8px 0 0 8px;
}