.h2 {
	-fx-font-size: 15px;
	-fx-fill: rgb(154, 185, 184);
	-fx-font-weight: bold;
}

.h2-dark {
	-fx-font-size: 15px;
	-fx-fill: rgb(140, 140, 140);
	-fx-font-weight: bold;
}

.h2-dark-italic {
	-fx-font-size: 15px;
	-fx-fill: rgb(140, 140, 140);
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

.title {
	-fx-font-size: 28px;
	-fx-fill: rgb(154, 185, 184);
	-fx-font-weight: bold;
}

#title-box {
	-fx-padding: 20px;
}

#player-list {
	-fx-background-color: rgb(50, 50, 50);
	-fx-background-insets: 20px;
}

#player-name {
	-fx-font-size: 19px;
	-fx-fill: rgb(200, 200, 200);
	-fx-font-weight: bold;
}

#player-element-stats {
	-fx-padding: 0px 15px;
}

